@import "media";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Exo 2', sans-serif;
    background: #EAEAEA;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    
}

[class*="__container"] {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 980px;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 850px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

.header {

		&__supheader {
            min-height: 46px;
            padding: 12px 0;
		}

		&__subheader {
		}
}
.supheader {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%), #C74C58;
		&__container {
		}

		&__wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
		}

		&__item {
            display: flex;
            gap: 23px;
            align-items: center;
            justify-content: space-between;
		}
		&__time {
            font-weight: 400;
            font-size: 20px;
            color: #FFFFFF;
		}

		&__phone {
            display: flex;
		}

		&__social-items {
            display: flex;
            flex-wrap: wrap;
            gap: 23px;
		}
}
.phone {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.social-items {

		&__link {
		}

		&__picture {
		}

		&__source {
		}

		&__image {
            max-width: 25px;
            max-height: 22px;
            width: 100%;
            height: 100%;
		}
}

.subheader {
    min-height: 107px;
    padding: 15px 0 14px 0;
    border-bottom: 1px solid #BEBEBE;
    &__container {
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 23px;
    }

    &__item {
    }

    &__logo {
        
    }

    &__list {
        display: flex;
        gap: 77px;
    }
    &__link {
        font-weight: 400;
        font-size: 24px;
        color: #707070;
    }
    &__burger {
		display: none;  
	}
}
.burger {

	&__input {
		display: none;
		&:checked ~ .burger__list {
            top: 0;
			left: 0;
        }
		&:checked + .burger__label {
            position: fixed;
			z-index: 200;
			display: flex;
			top: 2rem;
			right: 5rem;
			transform: translateX(50%);
        }
		&:checked ~ .burger__label .burger__block {
			width: 35px;
			height: 34px;
        }
		&:checked ~ .burger__label .burger__item {
			background: #fff;
			&:nth-child(1) {
				transform: rotate(45deg) translate(25px, 19px) scale(1.5);
				transform-origin: right top;
			}
			&:nth-child(2) {
				transform: scale(0);
			}
			&:nth-child(3) {
				transform: rotate(-43deg) translate(-9px, 12px) scale(1.5);
				transform-origin: left bottom;
			}
        }
	}
    &__label {
		
	}

	&__block {
		display: block;
        cursor: pointer;
	}

	&__item {
		display: block;
        width: 30px;
        height: 2px;
        background: #707070;
		transition: transform 1s;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
	}
	&__wrap {
		
	}
	&__list {
		position: fixed;
		width: 100vw;
		height: 100%;
		top: -100%;
		left: -100%;
		z-index: 100;
		background: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.3s;
	}
	&__li {
		&:not(:last-child) {
			margin-bottom: 75px;
		}
	}
	&__link {
		color: #fff;
        padding: 25px;
	}
}
.logo {

    &__picture {
    }

    &__source {
    }

    &__image {
        max-width: 136px;
        max-height: 78px;
        width: 100%;
        height: 100%;
    }
}

.main {

    &__rent {
        padding: 110px 0 60px 0;
        min-height: 300px;
    }
    &__about-us {
    }
}
.rent {

    &__container {
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding-right: 64px;
    }

    &__content {
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        flex: 0 1 535px;
    }

    &__title {
        font-weight: 700;
        font-size: 59px;
        line-height: 113%;
        letter-spacing: 0.055em;
        color: #3F3F3F;
        text-shadow: 8px 8px 30px rgba(0, 0, 0, 0.25);
        &:not(:last-child) {
            margin-bottom: 44px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.045em;
        color: #3F3F3F;
        &:not(:last-child) {
            margin-bottom: 65px;
        }
    }

    &__button {
        display: block;
        text-align: center;
        padding: 15px 0;
    }

    &__paint-block {
        max-width: 453px;
    }

    &__picture {
    }

    &__source {
    }

    &__image {
        max-width: 100%;
        max-height: 615px;
        object-fit: contain;
        object-position: center;
    }
}

.about-us {
    padding: 123px 0 111px 0;
    &__container {
    }
    &__flex {
        display: flex;
        flex-direction: column;

    }
    &__head {
        &:not(:last-child) {
            margin-bottom: 69px;
        }
    }

    &__wrap {
        display: flex;
        margin: 0 -119px;
        padding: 0 102.5px;
        flex-wrap: wrap;
        row-gap: 49px;
        justify-content: center;
        vertical-align: top;
        &:not(:last-child) {
            margin-bottom: 155px;
        }
    }

    &__item {
        flex: 0 1 50%;
        padding: 0 119px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__round {
        width: 97px;
        height: 97px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:not(:last-child) {
            margin-bottom: 34px;
        }
    }

    &__picture {
    }

    &__source {
    }

    &__image {
        object-fit: contain;
        object-position: center;
        max-width: 97px;
        max-height: 97px;
        width: 100%;
        height: 100%;
    }

    &__span {
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #393939;
        text-shadow: 10px 15px 30px rgba(0, 0, 0, 0.3);
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
.head {

    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 113%;
        letter-spacing: 0.055em;
        color: #3F3F3F;
        text-shadow: 8px 8px 30px rgba(0, 0, 0, 0.25);
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }

    &__decor {
        margin: 0 auto;
        width: 80px;
        height: 4px;
        background: #C74C58;
    }
}


.button {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
    background: url('../img/content/button.jpg') center / cover no-repeat;
    object-fit: contain;
    object-position: center;
    max-width: 228px;
    min-height: 55px;
    width: 100%;
    border-radius: 13px;
}

.footer {
}


//Медиа запросы

@media (max-width: 1440px) {
    .supheader {
    &__time {
        font-size: calc(15px + (20 - 15) * ((100vw - 580px) / (1440 - 580)));
        }
    }
    .phone {
        font-size: calc(15px + (20 - 15) * ((100vw - 580px) / (1440 - 580)));
    }
    .subheader {
        &__link {
            font-size: calc(18px + (24 - 18) * ((100vw - 768px) / (1440 - 768)));
        }
        &__list {
            gap: calc(66px + (77 - 66) * ((100vw - 580px) / (1440 - 580)));
        }
    }
    .rent {
        padding-top: calc(15px + (110 - 15) * ((100vw - 300px) / (1440 - 300)));
        padding-bottom: calc(15px + (60 - 15) * ((100vw - 300px) / (1440 - 300)));
        &__title {
            font-size: calc(25px + (59 - 25) * ((100vw - 300px) / (1440 - 300)));
            &:not(:last-child) {
                margin-bottom: calc(15px + (44 - 15) * ((100vw - 300px) / (1440 - 300)));
            }
        }
        &__subtitle {
            font-size: calc(20px + (36 - 20) * ((100vw - 300px) / (1440 - 300)));
            &:not(:last-child) {
                margin-bottom: calc(25px + (65 - 25) * ((100vw - 300px) / (1440 - 300)));
            }
        }
        &__wrap {
            padding-right: calc(0px + (64 - 0) * ((100vw - 991.98px) / (1440 - 991.98)));
        }
    }
    .about-us {
        padding-top: calc(40px + (123 - 40) * ((100vw - 300px) / (1440 - 300)));
        padding-bottom: calc(15px + (111 - 15) * ((100vw - 300px) / (1440 - 300)));
        &__container {
        }
        &__flex {
            display: flex;
            flex-direction: column;
    
        }
        &__head {
            &:not(:last-child) {
                margin-bottom: 69px;
            }
        }
    
        &__wrap {
            display: flex;
            margin: 0 -119px;
            padding: 0 102.5px;
            flex-wrap: wrap;
            row-gap: calc(15px + (49 - 15) * ((100vw - 300px) / (1440 - 300)));
            justify-content: center;
            vertical-align: top;
            &:not(:last-child) {
                margin-bottom: 155px;
            }
        }
    
        &__item {
            flex: 0 1 50%;
            padding: 0 calc(0px + (119 - 0) * ((100vw - 300px) / (1440 - 300)));
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 calc(0px + (-119 + 119) * ((100vw - 300px) / (1440 - 300)));
        }
    
        &__round {
            width: 97px;
            height: 97px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:not(:last-child) {
                margin-bottom: calc(15px + (34 - 15) * ((100vw - 300px) / (1440 - 300)));
            }
        }
    
        &__picture {
        }
    
        &__source {
        }
    
        &__image {
            object-fit: contain;
            object-position: center;
            max-width: 97px;
            max-height: 97px;
            width: 100%;
            height: 100%;
        }
    
        &__span {
            font-weight: 400;
            font-size: calc(18px + (24 - 18) * ((100vw - 580px) / (1440 - 580)));
            text-align: center;
            letter-spacing: 0.06em;
            color: #393939;
            text-shadow: 10px 15px 30px rgba(0, 0, 0, 0.3);
        }
    
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    }
    .head {

        &__title {
            font-weight: 500;
            font-size: 50px;
            line-height: 113%;
            letter-spacing: 0.055em;
            color: #3F3F3F;
            text-shadow: 8px 8px 30px rgba(0, 0, 0, 0.25);
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    
        &__decor {
            margin: 0 auto;
            width: 80px;
            height: 4px;
            background: #C74C58;
        }
    }
}

@media (max-width: 720px) {
    .rent {
        &__paint-block {
            //display: none;
            max-width: calc(80px + (135 - 80) * ((100vw - 300px) / (720 - 300)));
            display: flex;
            flex-direction: column;
            align-self: center;
        }
        &__wrap {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__content {
        display: flex;
        flex-direction: column;
        flex: none;
        align-items: center;
        padding-top: 0px;
        }

        &__button {
        display: block;
        text-align: center;
        padding: 15px 0;
        }
        &__image {
        max-width: 100%;
        max-height: 615px;
        object-fit: contain;
        object-position: center;
        }
    }
    .about-us {
        &__head {
            &:not(:last-child) {
                margin-bottom: 69px;
            }
        }
    
        &__wrap {
            display: flex;
            margin: 0 -119px;
            padding: 0 102.5px;
            flex-wrap: wrap;
            justify-content: center;
            vertical-align: top;
            &:not(:last-child) {
                margin-bottom: 155px;
            }
        }
    }
}
@media (max-width: 581px) {
    .supheader {
		&__wrap {
            flex-direction: column;
            gap: 15px;
            
		}
    }
    .subheader {
		&__list {
            display: none;
        }
		&__burger {
			display: block;
		}
        &__wrap {
            padding: 0 0;
        }
    }
    .burger {
        &__link {
            font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (581 - 300)));
        }
    }
    .about-us {
        &__head {
            &:not(:last-child) {
                margin-bottom: 69px;
            }
        }
    
        &__wrap {
            column-gap: calc(20px + (20 - 15) * ((100vw - 300px) / (581 - 300)));
        }
    }
}
